<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy"
    content="default-src * self blob: data: gap:; style-src * self 'unsafe-inline' blob: data: gap:; script-src * 'self' 'unsafe-eval' 'unsafe-inline' blob: data: gap:; object-src * 'self' blob: data: gap:; img-src * self 'unsafe-inline' blob: data: gap:; connect-src self * 'unsafe-inline' blob: data: gap:; frame-src * self blob: data: gap:;">
  <title>URL Shortener</title>
</head>

<body>
  <h1>URL Shortener</h1>
  <div id="app">
    <form @submit.prevent="submitForm()">
      <div v-if="error">{{ error }}</div>
      <div class="formControl">
        <label for="slug">Slug</label>
        <input type="text" id="slug" name="slug" v-model="slug">
      </div>
      <div class="formControl">
        <label for="url">Url *</label>
        <input type="url" id="url" name="url" required v-model="url" placeholder="http://example.com">
      </div>
      <button type="submit">Send</button>
    </form>
    <div v-if="created">
      <p>Your short url is: <a :href="created" target="_blank">{{ created }}</a></p>
    </div>
    <ul v-if="urlList.length">
      <li v-for="url in urlList">
        {{ url.url }} -> <a :href="formatUrl(url.slug)" target="_blank">{{url.slug}}</a>
        <button v-on:click="deleteUrl(url.slug)">Delete</button>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        slug: null,
        url: null,
        created: null,
        error: null,
        urlList: []
      },
      methods: {
        async submitForm() {
          this.error = null
          try {
            const response = await fetch('http://localhost:3001/url', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                url: this.url,
                slug: this.slug || undefined
              })
            })
            if (response.ok) {
              let result = await response.json()
              this.urlList = [...this.urlList, result]
              this.created = `http://localhost:3001/${result.slug}`
            } else if (response.status === 429) {
              this.error = "You are sending too many requests"
            } else {
              const result = await response.json()
              this.error = result.message
            }
            this.slug = null;
            this.url = null;
          } catch (error) {
            console.log('Error fetch data => ', error)
          }
        },
        formatUrl(slug) {
          return 'http://localhost:3001/'+slug
        },
        async deleteUrl(slug) {
          console.log('Delete function => ', slug)
          try {
            const response = await fetch(`http://localhost:3001/${slug}`, {
              method: 'DELETE',
              headers: {
                'Content-Type': 'application/json'
              }
            })
            if (response.ok) {
              const result = await response.json()
              this.urlList = this.urlList.filter(el => el._id !== result._id)
            } else {
              console.log(response)
            }
          } catch(e) {
            console.log('ERROR DELETE url => ', e)
          }
        }
      },
      async mounted() {
        try {
          const response = await fetch('http://localhost:3001/urls', {method: 'GET'})
          if (response.ok) {
            let result = await response.json()
            this.urlList = result
          }
        } catch(e) {
          console.log('Error => ', e)
        }
      }
    })
  </script>
</body>

</html>